<h1 class="text-center">Hero</h1>
<mat-divider></mat-divider>
<div class="grid mb-8 p-3 md:p-4 lg:p-5">
  <mat-card class="col-12 sm:col-6">
    <mat-card-content>
      <div class="grid">
        <mat-form-field class="col-12 sm:col-6">
          <mat-label>Superhero</mat-label>
          <input matInput type="text" required />
        </mat-form-field>
        <mat-form-field class="col-12 sm:col-6">
          <mat-label>Alterego</mat-label>
          <input matInput type="text" required />
        </mat-form-field>
        <mat-form-field class="col-12">
          <mat-label>First apparition</mat-label>
          <input matInput type="text" required />
        </mat-form-field>
        <mat-form-field class="col-12">
          <mat-label>Characters</mat-label>
          <input matInput type="text" required />
        </mat-form-field>
        <mat-form-field class="col-12">
          <mat-label>Publisher</mat-label>
          <mat-select matInput type="text" required>
            <mat-option
              *ngFor="let publisher of publishers"
              [value]="publisher.id"
              >{{ publisher.value }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="flex">
        <button mat-flat-button color="warn" class="w-full">
          <mat-icon>delete</mat-icon>Delete
        </button>
        <span class="w-1"></span>
        <button mat-flat-button color="primary" class="w-full">
          <mat-icon>save</mat-icon>Save
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="col-12 sm:col-6">
    <img mat-card-image src="" alt="Heroe's image" />
  </mat-card>
</div>
