<h1 class="text-center">Heroes List</h1>
<mat-divider></mat-divider>
<div class="flex flex-column mb-8 p-3 md:p-4 lg:p-5">
  <mat-form-field>
    <mat-label>Search heroes</mat-label>
    <input
      type="text"
      [formControl]="searchInput"
      (input)="searchHero()"
      [matAutocomplete]="auto"
      matInput
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onSelectedOption($event)"
    >
      <mat-option *ngFor="let hero of heroes" [value]="hero">
        {{ hero.superhero }}
      </mat-option>
      <mat-option
        *ngIf="
          heroes.length < 1 && searchInput.value && searchInput.value.length > 0
        "
        value=""
      >
        We couldn't find a hero named '{{ searchInput.value }}'
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  {{ selectedHero | json }}
</div>
